.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    gap: 16px;
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}