.activity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    gap: 32px;
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bigContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
}

/* Form */

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 35%;
    min-width: 450px;
    height: 100%;
    background: #2471A3;
    border-radius: 35px;
    padding: 32px 0px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
}

.h1 {
    text-align: center;
    padding: 12px;
    font-size: 2em;
    color: #FFFFEA;
    background: #2471A3;
    border-radius: 25px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 60%;
    min-height: 35px;
    outline: 1px solid #FFFFEA;
    border-radius: 8px;
}

.label {
    color: #FFFFEA;
    font-size: 1em;
}

.input {
    width: 60%;
    height: 20px;
    border: none;
    padding: none;
    border-radius: 8px;
    background: #FFFFEA;
}

.input:focus {
    background: #cae2f3;
}

.input:hover {
    background: #cae2f3;
}

.select {
    width: 60%;
    height: 24px;
    border: none;
    border-radius: 8px;
    background: #FFFFEA;
}

.select:focus {
    background: #cae2f3;
}

.select:hover {
    background: #cae2f3;
}

.addActivity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0px 0px 0px;
    padding: 8px;
    min-width: 90px;
    min-height: 45px;
    background: transparent;
    border: none;
    border-radius: 8px;
    color: #FFFFEA;
    font-size: 1.1em;
}

.addActivity:hover {
    background: #FFFFEA;
    color: #2471A3;
}

/* Form errors */

.error {
    font-size: 1em;
    color: red;
}

/* Countries list */

.selectedCountries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 200px;
    max-width: 30%;
    min-height: 300px;
    max-height: 100%;
    gap: 8px;
    background: #2471A3;
    border-radius: 25px 0px 0px 25px;
    padding: 12px;
}

.h1Countries {
    font-size: 1.1em;
    color: #FFFFEA;
}

.countries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    min-height: 25px;
    border-radius: 8px;
    padding: 8px;
    background: transparent;
    transition: background-color 500ms;
}

.countries:hover {
    background-color: #FFFFEA;
}

.countries:hover .name {
    color: #2471A3;
}

.countries:hover .button {
    display: block;
}

.name {
    background: transparent;
    color: #FFFFEA;
    font-size: 1em;
}

.button {
    display: none;
    background: transparent;
    border: none;
    border-radius: 4px;
    color: #2471A3;
    font-size: 1em;
}

/* Back button */

.navlink {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    max-width: 20%;
    min-height: 50px;
    max-height: 100%;
    background: #2471A3;
    border-radius: 0px 12px 12px 0px;
    transition: background 500ms;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
}

.navlink:hover {
    background: #FFFFEA;
}

.navlink:hover .linkButton {
    color: #2471A3;
}

.linkButton {
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    color: #FFFFEA;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

/* Loading animation */

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 8px;
}

.loadingImg {
    width: 64px;
    height: 64px;
}

.loadingH1 {
    font-size: 1.2em;
    color: #2471A3;
}

/* Responsiveness */ 

.responsiveSelectedCountries {
    display: none;
}

@media (max-width: 900px) {
    .selectedCountries {
        display: none;
    }

    .bigContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 32px;
    }

    .navlink {
        margin:  0px calc(100vw - 100px) 0px 0px;
    }

    .formContainer {
        min-width: 350px;
        border-radius: 35px;
        padding: 16px 0px;
    }

    .responsiveSelectedCountries {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        gap: 12px;
    }
    
    .responsiveH1Countries {
        font-size: 1.1em;
        color: #FFFFEA;
    }
    
    .responsiveCountries {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        min-width: 60px;
        min-height: 30px;
        border-radius: 8px;
        padding: 8px;
        gap: 12px;
        background: #FFFFEA;
    }

    .responsiveName {
        background: transparent;
        color: #2471A3;
        font-size: 1em;
    }
    
    .responsiveButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        border-radius: 8px;
        color: #2471A3;
        font-size: 1em;
        outline: 1px solid #2471A3;
    }
}